@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Main" asp-action="Index">
  @if (Model.Error != "")
  {
    @Model.Error
  }
  <p>Login with the user/passwords available in the config.js file</p>

  <div>
    <label for="login">User:</label>
    <input type="text" id="login" name="login" value="johndoe">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="password">
  </div>

  <input type="submit" value="Login">
</form>
